---
interface Props {
  title: string;
  description: string;
  link?: string;
  tech?: string[];
}

const { title, description, link, tech } = Astro.props;
---
<div class="relative bg-gray-800 border border-gray-700 rounded-xl p-6 shadow-sm hover:shadow-lg hover:scale-[1.02] transition-all duration-300 backdrop-blur hover:text-shadow-lg dark:text-neutral-100 dark:bg-gray-700">
  <!-- Tech Logos -->
  {(tech ?? []).length > 0 && (
    <div class="absolute top-3 right-3 flex gap-2">
      {(tech ?? []).map((icon) => (
        <img src={`/icons/${icon}.svg`} alt={icon} class="w-5 h-5" />
      ))}
    </div>
  )}

  <h3 class="text-xl font-semibold text-neutral-50 mb-2">{title}</h3>
  <p class="text-sm text-gray-300 mb-4 dark:text-neutral-100">{description}</p>

  {link && (
    <a href={link} class="text-sm text-cyan-100 hover:underline">Learn more →</a>
  )}
</div>
